<div class="col offset-s3 s6">
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{ site.baseurl }}/assets/images/jetpacktocat.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h4>Pagina solicitată nu este disponibilă.</h4>        
                <p>Aruncați o privire peste <a href="http://waitbutwhy.com/2013/11/how-to-beat-procrastination.html" target="_blank">această resursă</a> dacă doriți să nu mai căutați pagini ce nu există!</p>
            </div>
            <div class="card-action">
                <a href="/{{ site.baseurl }}">Înapoi la prima pagină</a>
            </div>
        </div>
    </div>
</div>
