<header id="header" class="header {% if page.page-type == 'home' %}text-center{% endif %}">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="{{ page.url }}">
                    <span aria-hidden="true" class="fa fa-book icon"></span>
                    <span class="text-highlight">TSS-Yonder</span>
                    <span class="text-bold">Courses</span>
                </a>
            </h1>
        </div>
        
        {% if page.page-type == 'home' %}
            <div class="tagline">
                <p>Free Bootstrap theme for your project documentation</p>
                <p>Designed with <i class="fa fa-heart"></i> for developers</p>
            </div>
        {% else %}
            <ol class="breadcrumb">
                <li><a href="{{ breadcrumb-home-link }}">Ala bala</a></li>
                <li class="active">Test</li>
            </ol>
        {% endif %}
    </div>
</header>
