---
layout: default
---
{% include navigation.html %}
<div class="content col s8 m9 l9">
  {{ content }}
  <div class="info-column col s12 m6 l4">
  <h5> Lorem ipslum </h5>
  <div class="paragraph-and-image">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum et diam eu aliquam. Pellentesque
          habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ullamcorper
          risus sit amet consectetur cursus. Aliquam aliquet venenatis ullamcorper.</p>
  </div>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum et diam eu aliquam. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ullamcorper
      risus sit amet consectetur cursus. Aliquam aliquet venenatis ullamcorper.</p>
  <footer>
      <a class="waves-effect waves-light btn">button</a>
  </footer>
</div>
</div>

